.button{
    font-family: 'Poppins',sans-serif ;
    padding: 10px 15px;
    background-color: var(--bg-color,#121212);
    color: var(--btn-txt-color,#34C94B);
    border-radius: 8px;
}

.button:hover{
    cursor: pointer;
}